Source: libpam-mktemp
Section: debathena/libs
Priority: optional
Maintainer: Debathena Project <debathena@mit.edu>
Standards-Version: 3.9.3
Build-Depends: cdbs, debhelper, dh-buildinfo, libpam0g-dev

Package: libpam-mktemp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PAM module to create temporary session files
 This PAM module securely creates a temporary file or directory with
 mkstemp, and sets an environment variable to point to its location.
 .
 A common use is to set the XAUTHORITY environment variable to a
 securely created temporary file, for use when home directories are in
 a networked filesystem.
